* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 14px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px;
}
body {
  background-image: linear-gradient(to bottom, #128C7E 0px, #128C7E 15vh, #DDDBD1 15vh, #D2DBDC 100% );
}
.wrapper {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
}
.main {
  width: 85vw;
  height: 95%;
  margin:auto;
}
.main_chat {
  height: 100%;
  background-color: silver;
}
.main_navbar{
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main_navbar_header {
  height: 80px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #e9e9e9;
}
.profilo_personal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.settings_profilo {
  display: flex;
  justify-content: flex-end;
}
.settings_profilo ul li {
  padding: 10px;
  font-size: 20px;
}
.settings_profilo ul li a {
  color: grey;
}
.profilo_personal img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.list_style_icone {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-self: center;
  padding: 10px;
}
/* NOTIFICHE MESSAGGI */
/* PARTE IN BLU */
.nofitiche_messaggi {
  height: 90px;
  background-color: #76d2ff;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.nofitiche_messaggi span a {
  font-size: 20px;
  color: #76d2ff;
}
.nofitiche_messaggi span {
  display: flex;
  align-items: center;
}
.avatar_notifica {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.avatar_notifica_left {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.avatar_notifica_rigth {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: center;
}
.avatar_notifica_rigth span {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: grey;
  text-decoration: underline;
  padding: 0px 5px;
}
/* barra ricerca sotto le notifiche */
